//========================= CustomSelector =========================//
.co-cs-main_container {
  position: relative;

  select {
    -webkit-appearance: none;
    font-family: Poppins-Regular, serif;
    font-size: 16px;
    background-color: inherit;
    color: #43425d;
    padding: 15px 45px 15px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #cfcfdd;
    border-radius: 0;
    outline: none;
    cursor: pointer;
  }

  &:after {
    content: "";
    position: absolute;
    top: 23px;
    right: 18px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #cfcfdd;
    border-right: 2px solid #cfcfdd;
    transform: rotate(135deg);
  }
}

//========================= CustomInput =========================//
.co-ci-main_container {
  position: relative;

  input {
    width: calc(100% - 10px);
    font-family: Poppins-Regular, serif;
    font-size: 16px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #cfcfdd;
    padding: 15px 5px;
    outline: none;
    color: #43425d;
  }
}

//========================= CustomButton =========================//
.co-cb-button {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  font-family: Poppins-SemiBold, serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fa01b;
  color: #ffffff;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
}
