.co-s-main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.co-s-header {
  display: flex;
  align-items: center;
  font-family: Poppins-Light, serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #5fa01b;
  color: #ffffff;
  padding-left: 27px;
  height: 70px;
}

.co-s-body {
  height: calc(100% - 120px);
  background-color: #32495e;
  padding: 25px;
}

.co-s-menu_item {
  display: flex;
  align-items: center;
  font-family: Poppins-Medium, serif;
  font-size: 14px;
  color: #768c9a;
  padding: 10px 0;
  margin-bottom: 40px;
  cursor: pointer;

  & > img {
    margin-right: 20px;
  }
  & > p {
    margin: 0;
  }
}
